<!html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
body{ 
padding-left:100px;
padding-right:100px;
padding-top:50px;
}
</style>
</head>
<body>
<div id="meeeageId">
{{message}}
<hr/>
我的等级:{{type}}
<hr/>
{{myobj.name}}: {{myobj.txt}}
<hr/>
<li v-for="item in items">
{{item}} {{type}}
</li>
<hr/>
<span v-bind:title="message" v-bind:data-type="type">悬停查看数据<   v-bind:属性  > 方式添加元素的属性</span>
<hr/>
<span v-if="type=='高级分析师2'">高级分析师2</span>
<br/>
<span>{{foo}}</span>
<button v-on:click="foo='baz'" >  change foo </button>
<hr/>
</div>
<div id="app-4">
  <ul>
    <li v-bind:title="todo.text" v-for="todo in todos" >
      {{ todo.text }}
    </li>
  </ul>
</div>
<script>
var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: '学习 JavaScript' },
      { text: '学习 Vue' },
      { text: '整个牛项目' }
    ]
	
	
  }
})

let mesaagedata={
		message:"hello vue.js 20191121 14",//data里面的元素直接变成 this的属性,可以直接点出来
		type:"高级分析师",
		myobj:{txt:123,name:'数字'},
		items: ['a', 'b', 'c'],
		foo:'bar'
	};
//Object.freeze(mesaagedata);
let messageidv=new Vue({
	el:"#meeeageId",
	data:mesaagedata
});
console.log(messageidv.$data==mesaagedata);
Object.freeze(messageidv.foo);

setTimeout(function(){
	console.log(messageidv);
	messageidv.message="做出改变了...";
	//messageidv.myobj.txt=222;
	//messageidv.items[1] = 'x'//两种刷新数据的方式1
	
	Vue.set(messageidv.items,1,"3");//两种刷新数据的方式2
	Vue.set(messageidv,"message","3333333");//两种刷新数据的方式2
	
},1000);
</script>
</body>
</html>